;格式和可配置项与proxy.ini相同，会覆盖proxy.ini中相同项

[listen]
;如果需要提供给局域网内其他设备使用的话请删除下面的注释符
;ip = 0.0.0.0

[rulelist]
;PROXY *:4087;DIRECT = https://raw.githubusercontent.com/gfwlist/gfwlist/master/gfwlist.txt
PROXY *:8087;DIRECT = https://raw.githubusercontent.com/gfwlist/gfwlist/master/gfwlist.txt

[py_rulelist]
;GAE = https://raw.githubusercontent.com/gfwlist/gfwlist/master/gfwlist.txt
XXNET = https://raw.githubusercontent.com/gfwlist/gfwlist/master/gfwlist.txt

[gae]
;enable = 1
appid = 
password = 

[paas]
;enable = 1
fetchserver = 
password = 
;proxy = http://127.0.0.1:8087

[gaeproxy]
;enable = 1
appid = 
password = 
;proxy = http://127.0.0.1:8087

[forold]
;enable = 1
url = 
password = 
;proxy = http://127.0.0.1:8087

[socks5]
;enable = 1
fetchserver = 
password = 
;proxy = http://127.0.0.1:8087
